
.idea/ACMEat.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Applications/.idea/Applications.iml
Applications/.idea/misc.xml
Applications/.idea/modules.xml
Applications/.idea/vcs.xml
Bank/client.ol
deliver_front/.idea/deliver_front.iml
deliver_front/.idea/inspectionProfiles/profiles_settings.xml
deliver_front/.idea/misc.xml
deliver_front/.idea/modules.xml
deliver_front/.idea/vcs.xml
deliver_front/.idea/workspace.xml
acme_front/.idea/vcs.xml
acme_front/.idea/misc.xml
acme_front/.idea/acme_front.iml
acme_front/.idea/inspectionProfiles/Project_Default.xml
acme_front/.idea/modules.xml
